body{
  background:url("/images/fondo.jpg") 50% 0 transparent;
  background-color:#000;
  font-family:Tahoma,trebuchet ms,arial,serif;
  font-size:13px;
  margin:20px 0 0;
  padding:0;	
  color:#333;
}

a img{
  border:0;
}

a:link {text-decoration: none;color:#000;}
a:visited {text-decoration: none;color:#000;}
a:active {text-decoration: none;color: red;}
a:hover {text-decoration: underline; color: #ccc;}

h1{
 color:#C08A39;	
}

h2{
 color:#fff;
 font-size:17px;
 font-weight: normal;
 margin:5px 0 0 5px;	
}

#llamar span.titulo{
	color:#C18A3A;
}

#reservation h2{
 color:#C18A3A;
 font-size:17px;
 font-weight: normal;
 margin:5px 0 0 5px;	
}

#reservation2 h2{
 color:#C18A3A;
 font-size:17px;
 font-weight: normal;
 margin:5px 0 0 5px;	
}

#box2 h2{
 color:#C18A3A;
 font-size:17px;
 font-weight: normal;
 margin:5px 0 0 5px;	
}

label{
	font-weight:bold;
	font-size:12px;
}

input.home{
	width:190px;
	height:20px;
    border:solid 1px #000;
}

textarea.home{
	width:356px;
	height:157px;
	border:solid 1px #000;
}

input.number{
	width:40px;
	height:20px;
	border:solid 1px #000;
}

input.date{
	width:190px;
	height:20px;
	border:solid 1px #000;
}

input.button{
    background: none repeat scroll 0 0 #333;
    border: 0 none;
    color: #fff;
    height: 22px;
    width: 66px;
}

#reservation input.button{
	width:66px;
	height:22px;
    color:#000;
    background:#C18A3A;
    border:0;
}

#reservation2 input.button{
	width:66px;
	height:22px;
    color:#000;
    background:#C18A3A;
    border:0;
}


div.field3 label{
    margin:0 0 20px 0;
}

#seccion{
  width:100%;
  float:left;
  height:96px;
  color:#fff;
  margin: 10px 0 0;
  background:#000;	
}

#seccion-titulo{
  width:900px;
  margin:10px auto;	
}

span.titulo{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
}

span.titulo-seccion{
  color:#C08A39;
  font-size:30px;
}

#head{
	width:900px;
	margin:0 auto;
	position:relative;
}

#llamar{
  width:400px;
  float:left;
  margin:10px 0 0 0;	
}

#icon-fono{
  width:32px;
  height:32px;
  background-image:url("/images/icon-fono.png");
  float:left;	
}

#num-texto{
  float:left;
  font-size:16px;
  margin:6px 0 0;	
}

#menuhoriz{
   float: left;
   margin: 52px 0 0;
   width: 683px;
}

#menuhoriz ul li {  
    border-right: 1px solid #333333;
    display: inline;
    font-size: 9px;
    font-weight: bold;
    margin: 6px;
    padding-right: 26px;
}  
#menuhoriz ul li:hover {   
  cursor: pointer; /* cambiar el aspecto del puntero */  
}  
#menuhoriz ul {  
  padding:0;
}

#logo{
   background-image: url("/images/logo.png");
   height: 166px;
   position: absolute;
   right: 10px;
   top: 0;
   width: 214px;
}

#content{
  width:900px;
  margin:0 auto;	
}

#showcase3{
  float:left;
  background:#000; 
  margin:10px;
}


#reservas-online{
  width:300px;
  float:left;	
}

#icon-reserva{
  background-image:url("/images/icon-reserva.png");
  width:79px;
  height:73px;
  float:left;
  cursor:pointer;	
}

#text-reserva{
  float:left;
  width:185px;
  margin:0 0 0 5px;
}

#puntos{
  width:433px;
  float:left;	
}


#text-punto{
  float:left;	
}

#siguenos{
  float:left;
  width:167px;
}

#icons-ft{
float:right;	
}

#f{
  background-image:url("/images/icon-face.png");
  width:32px;
  height:32px;	
  float:left;
  margin:0 8px 0 0;
}

#t{
  background-image:url("/images/icon-t.png");
  width:32px;
  height:32px;	
  float:left;
  	
}

#footer{
  background:#000;
  height:122px;
  text-align:center;
  float:left;
  width:100%;
  margin:20px 0 0 0;		
}


#menuhoriz2{
    float: left;
    margin: 84px 0 0;
    width: 787px;
}

#menuhoriz2 ul li {  
    display: inline;
    margin: 0;
    padding: 1px;
    color: #CCCCCC;
}  
#menuhoriz2 ul li:hover {   
  cursor: pointer; /* cambiar el aspecto del puntero */  
}  
#menuhoriz2 ul {  
  padding:0;
}

#menu-footer{
  width:900px;
  margin:0 auto;
  color:#C08A39;
  position:relative;	
}

#content-seccion{
	color:#333;
	margin:0 auto;
	width:900px;
}

#content-seccion2{
    float:left;
    width:900px;

}

#navi {
    float: left;
    list-style-type: none;
    margin: 12px 0 0;
    padding-left: 8px;
    width: 434px;
}

#navi li{
	padding:4px 0 0 0;
	font-size:14px;
}

#addres{
	float:left;
	clear:both;
}

#showcase2{
	float:right;
	margin:40px 0 0 0;
}

#ubicacion{
	width:892px;
	height:439px;
	margin:20px auto;
}

#reservation{
	width:448px;
	color:#ccc;
}

#reservation2{
	width:448px;
	color:#ccc;
}

#blok{
	width:100%;
	margin:5px 0 0 5px;

}


div.field, div.actions {
float:left;
margin:0 10px 5px 0;
}

div.field_with_errors, div.actions{
	float:left;
	margin:0;
}


div.field_with_errors input.home {	
border:solid 1px red	
}

div.field_with_errors input.number{	
border:solid 1px red	
}

div.field_with_errors input.date{	
border:solid 1px red	
}

div.field2, div.actions {
float: none;
margin-bottom:5px;
margin-right:10px;
clear:both;
}

div.field3, div.actions {
float: left;
margin:0 0 0 96px;
}

div.field_c, div.actions {
float:left;
margin-bottom:10px;
margin-right:10px;
clear:both;
}

#blok2{
	float:left;
	margin:5px 0 0 5px;
}

#blok3{
	float:left;
	margin:5px 0 0 5px;
	clear:both;
}


#frm{
	float:left;
	background:#F6F6F6;
	width:806px;
	margin:20px 0 0 72px;
	padding:10px;
}

#notice{
	background: none repeat scroll 0 0 #C18A3A;
	color: #FFFFFF;
	float: left;
	font-size: 16px;
	height: 21px;
	padding: 10px;
	width: 644px;
}

#box{
	width:448px;
	height:275px;
	float:left;
	background:url("/images/fdo-box.png");
	margin:0 2px 0 0;
	position:relative;
}

#box2{
	width:448px;
	height:275px;
	float:left;
	background:url("/images/fdo-box2.png");
	margin:0 2px 0 0;
	color:#fff;
}

#box-reserva{
    background-image: url("/images/fdo-servicios.png");
    color: #FFFFFF;
    float: left;
    height: 440px;
    margin: 10px 2px 0 0;
    width: 448px;
    position:relative;
}

#parrafo{
	width:90%;
	margin:5px auto;
	color:#000;
}

#img-servicios{
	width:396px;
	height:98px;
	background-image:url("/images/servicios.png");
	margin:25px auto;
}

#icon-map{
	float:left;
	margin:20px 0 0 20px;
	width:41px;
	height:42px;
	background-image:url("/images/icon-map.png");
}

#text-ubicacion{
    color: #000;
    float: left;
    margin: 22px 0 0 5px;
    font-weight:bold;
}

#form-home{
	width:95%;
	margin:15px auto;
}

#button{
    float: left;
    margin: 6px 0 15px;
}

#box-depa{
    background-image: url("/images/box-depa.png");
    float: left;
    height: 380px;
    margin: 10px 2px 0 0;
    position: relative;
    width: 445px;
}

#box-depa #prew{
	float:left;
	margin:5px 0 0 5px;
}

#box-depa #titulo{
    float:left;
    margin:10px 0 0 10px;
    font-size:17px;
    color:#fff;
}

#box-depa #caracteristicas{
	float:left;
	clear:both;
	margin:5px 0 0 10px;
}

span.titulo2{
	font-weight:bold;
}

ul.caracteristicas{
	margin: 20px 0 0;
	padding:0;
}

#serv{
    background-image: url("/images/serv.png");
    bottom: 8px;
    height: 70px;
    position: absolute;
    right: 5px;
    width: 219px;
}

#back-photo{
	width:445px;
    height:70px;
    background:#333;
    float:left;
    margin: 2px 2px 2px 0
}

#buttons{
    float: left;
    margin: 58px 0 0 10px;
}

#buttons #m1{
	padding:5px;
	background:#B18B52;
	float:left;
	margin:0 5px 0 0;
}

#otros{
    background-image: url("/images/otros.png");
    float: left;
    height: 35px;
    line-height: 31px;
    margin: 2px 0 0;
    text-indent: 11px;
    width: 892px;
}

#plano{
	width:535px;
    padding:10px;
	background:#000;
}

#img-plano{
	float:left;
	margin:10px 0 0 0;
}

#box-servicios {
	width:448px;
	height:440px;
	background-image: url("/images/fdo-servicios.png");
	float:left;
	margin:10px 0 0 0;
	position:relative;
}

#imagen-servicios{
    background: url("/images/fdo-box2.png") repeat scroll 0 0 transparent;
    float: left;
    height: 440px;
    margin: 10px 0 0 2px;
    width: 448px;	
}

#anima{
	width:900px;
	height:326px;
	background:#000;
	float:left;
	margin:0px 0 5px 0;
}

#form-contacto{
	margin:8px auto;
	width:90%;
}

div.btn-contacto{
	float:left;
	margin:5px 0 0 5px;
}

#logo-small{
	width:102px;
	height:79px;
	float:left;
	background-image: url("/images/logo-small.png");
	margin: 20px 0 0;	
}

#marca-dire{
    color: #CCCCCC;
    left: 128px;
    line-height: 20px;
    position: absolute;
    text-align: left;
    top: 16px;
}

#consulta{
    border-left: 1px solid #CCCCCC;
    color: #CCCCCC;
    font-size: 12px;
    padding: 5px;
    position: absolute;
    right: 20px;
    text-align: left;
    top: 5px;
    width: 219px;
}

#imagen-servicios img{
    border: 2px solid #FFFFFF;
    margin: 10px 0 0 18px;
}

#imagen-servicios #imagenes{
	margin:10px 0 0 20px;
}

#realice{
    color: #000000;
    float: left;
    font-size: 15px;
    margin: 23px 0 0 10px;
}

#box-servicios p{
	margin: 9px 0 0 7px;
}

#consultas-t{
    background: none repeat scroll 0 0 #8E7E64;
    color: #333333;
    font-size: 12px;
    font-weight: bold;
    padding: 7px;
    position: absolute;
    right: 20px;
    top: 77px;
}

#consultas-r{
    background: none repeat scroll 0 0 #8E7E64;
    color: #333333;
    float: left;
    font-size: 12px;
    font-weight: bold;
    margin: 57px 0 17px 5px;
    padding: 5px;
    width: 428px;
}

#thumb{
    float: left;
    margin: 3px 2px 0 1px;
}

#thumb a img{
	padding:0;
	margin:0;
	border:0;
}

#mensaje-error{
	position:absolute;
	top:5px;
	right:10px;
	color:#000;
	font-size:13px;
	padding:5px;
	background:#FFFE36;
}