<div id="anima">
<div id="showcase3">
	<a><img src="images/home/1.jpg"  /></a>
    <a><img src="images/home/2.jpg" /></a>
    <a><img src="images/home/3.jpg" /></a>
    <a><img src="images/home/4.jpg" /></a>
    <a><img src="images/home/5.jpg" /></a>
</div>
</div>

<div id="box">
 <h2><%= t 'titulos.reserva' %></h2>

</div>

<script>
$("new_reservation").validator();
</script>


<div id="box">
 <div id="parrafo">
    <%= t 'parrafos.parrafo_home' %>
 </div>
 <div id="img-servicios"></div>
 <div id="icon-map"></div>
 <div id="text-ubicacion">
	<span class="titulo"><%= t 'textos.ubicacion' %></span><br>
	<%= t 'frases.conozca' %>
 </div>
</div>		
</div>