<div id="seccion">
   <div id="seccion-titulo">
	<span class="titulo-seccion">Servicios</span><br>
	En Urban Suite queremos que su estancia sea lo más confortable posible por ello le ofrecemos los siguientes servicios: 	
	</div>	
</div>

<div id="content-seccion">
	<div id="content-seccion2">
	<ul id="navi">
		<li>- Confortables departamentos de uno y dos dormitorios. </li>
		<li>- Cama king president. </li>
	    <li>- Aire acondicionado y calefacción.</li>
		<li>- Telefonía local ilimitada, Internet Wi-Fi. </li>
		<li>- Televisor full HD con TV cable. </li>
		<li>- Equipo de musica para Ipod y Iphone  </li>
		<li>- Servicio de mucama de Lunes a Sábado.</li>
		<li>- Lavandería para ropa de cama y baño.</li>
		<li>- Caja de seguridad digital.</li>			
		<li>- Estacionamiento subterráneo privado.</li>
		<li>- Secador de pelo, plancha y tabla de planchar.</li>
		<li>- Cocinas full equipadas.</li>
		<li>- Piscina en azotea.</li>
	    <li>- Gimnasio equipado.</li>
	    <li>- Atención en horario de oficinas de 09:00 a 18:30 hrs.</li>
		<li>- Atención 24/7 teléfono emergencias.</li>					
    </ul>


    
    <div id="showcase2">
        <a><img src="images/1.jpg" /></a>
        <a><img src="images/2.jpg" /></a>
        <a><img src="images/3.jpg" /></a>

    </div>

    </div>
 </div>