<div id="seccion">
   <div id="seccion-titulo">
	<span class="titulo-seccion"><%= t 'titulos.ubicacion' %></span><br>
     <span class="parrafo"><%= t 'parrafos.parrafo_ubicacion' %></span>
	</div>	
</div>

<div id="content-seccion">
	<div id="content-seccion2">
     <div id="ubicacion"><%= image_tag "/images/mapa.jpg"%></div>
    </div>
 </div>