<div id="seccion">
   <div id="seccion-titulo">
	<span class="titulo-seccion">Reservaciones</span><br>
	Por favor seleccione los días que permanecerá en nuestro apart hotel. Incluya día de llegada y de salida.
	</div>	
</div>

<div id="content-seccion">
	<div id="content-seccion2">


    </div>
 </div>
